@use "../../scss/pallete";

.nav {
  display: flex;
  background-color: pallete.$main;
}

.navItem {
  list-style-type: none;
  font-size: 2em;
  text-decoration: none;

  &_link {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: pallete.$dark-shade;
  }
}
