@use "../../scss/pallete";

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2em;
  flex-direction: column;
  align-items: center;
}

.imgMain {
  max-width: 100%;
}

.form {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pallete.$light;
  border: 2px solid pallete.$dark-shade;
  padding: 5% 10%;
}

.secondary {
  color: pallete.$dark-accent;
}

.list {
  & li {
    text-align: center;
    text-justify: inter-word;
  }
  & select {
    font-size: 0.8em;
    border-radius: 9px;

    color: pallete.$light;

    background-color: pallete.$light-accent;

    &:hover {
      border-top-color: pallete.$dark-shade;
      background: pallete.$dark-accent;
      color: #ccc;
    }
  }
}

.btn {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid pallete.$light-accent;
  background: pallete.$main;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(pallete.$main),
    to(pallete.$light-accent)
  );
  background: -webkit-linear-gradient(
    top,
    pallete.$main,
    pallete.$light-accent
  );
  background: -moz-linear-gradient(top, pallete.$main, pallete.$light-accent);
  background: -ms-linear-gradient(top, pallete.$main, pallete.$light-accent);
  background: -o-linear-gradient(top, pallete.$main, pallete.$light-accent);
  padding: 9.5px 19px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: pallete.$light;
  text-decoration: none;
  vertical-align: middle;
}
.btn:hover {
  border-top-color: pallete.$dark-shade;
  background: pallete.$dark-accent;
  color: #ccc;
}
.btn:active {
  border-top-color: pallete.$dark-shade;
  background: pallete.$dark-accent;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pallete.$light-accent;
}

p {
  max-width: 80%;
  line-height: 1.6;
}
